@inherits WindowBase

<TelerikWindow Visible="@Visible" Top="@Top" Left="@Left" Height="@Height" Width="@Width" LeftChanged="@(s => WindowResized("L", $"{s}"))" HeightChanged="@(s => WindowResized("H", $"{s}"))" TopChanged="@(s => WindowResized("T", $"{s}"))" WidthChanged="@(s => WindowResized("W", $"{s}"))">
  <WindowActions>
    <WindowAction Name="Close" OnClick="@Close" />
  </WindowActions>
  <WindowTitle>Charities</WindowTitle>
  <WindowContent>
    <p>Pos: (@Top, @Left), size: (@Height, @Width)</p>
    <TelerikGrid Data="Charities"
                 Class="border-0">
      <GridColumns>
        <GridColumn Field="@nameof(Charity.Id)" Width="70px" />
        <GridColumn Field="@nameof(Charity.Name)" />
        <GridColumn Field="@nameof(Charity.Address)" />
      </GridColumns>
    </TelerikGrid>
  </WindowContent>
</TelerikWindow>

@code {
  public static string Title = "Charities";

  private List<Charity> Charities { get; } = DataService.Charities;
}