@inherits WindowBase
@implements WindowParametersInterface

<TelerikWindow Visible="@Visible" @bind-Top="@Top" @bind-Left="@Left" @bind-Height="@Height" @bind-Width="@Width">
  <WindowActions>
    <WindowAction Name="Close" OnClick="@Close" />
  </WindowActions>
  <WindowTitle>Charities</WindowTitle>
  <WindowContent>
    <p>Pos: (@TopStr, @LeftStr), size: (@HeightStr, @WidthStr)</p>
    <TelerikGrid Data="Charities"
                 Class="border-0">
      <GridColumns>
        <GridColumn Field="@nameof(Charity.Id)" Width="70px" />
        <GridColumn Field="@nameof(Charity.Name)" />
        <GridColumn Field="@nameof(Charity.Address)" />
      </GridColumns>
    </TelerikGrid>
  </WindowContent>
</TelerikWindow>

@code {
  public static string Title = "Charities";

  private List<Charity> Charities { get; } = DataService.Charities;
}