@using TelerikWindowPlay.Pages
<div class="sidebar @PinCssClass">

  <div class="nav-scrollable">
    <nav class="flex-column" style="padding: 1.5rem;">
      <div class="nav-item@(DropDownId == "donors" ? " expanded" : "")">
        <div @onclick="@(async () => await OpenWindow.InvokeAsync(typeof(DonorList)))">
          <i class="@IconsHelper.Donors"></i>
          <span>Donors</span>
        </div>
      </div>
      <div class="nav-item@(DropDownId == "charities" ? " expanded" : "")">
        <div @onclick="@(async () => await OpenWindow.InvokeAsync(typeof(CharityList)))">
          <i class="@IconsHelper.Charities"></i>
          <span>Charities</span>
        </div>
      </div>
    </nav>
  </div>
</div>